<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Event_Management_System.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Event_Management_System.Preferences" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
                  </configSections>
  <connectionStrings>
    <add name="Event_Management_System.Properties.Settings._0950182ConnectionString"
      connectionString="Data Source=THORIUM;Initial Catalog=0950182;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Event_Management_System.Properties.Settings.EASConnectionString"
      connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\EAS.mdf;Integrated Security=True;User Instance=True"
      providerName="System.Data.SqlClient" />
    <add name="Database1Entities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlServerCe.3.5;provider connection string=&quot;Data Source=|DataDirectory|\Database1.sdf&quot;"
      providerName="System.Data.EntityClient" />
  </connectionStrings>
  <userSettings>
    <Event_Management_System.Properties.Settings>
      <setting name="ConnectionString" serializeAs="String">
        <value>Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\EAS.mdf;Integrated Security=True;User Instance=True</value>
      </setting>
    </Event_Management_System.Properties.Settings>
    <Event_Management_System.Preferences>
      <setting name="connectionString" serializeAs="String">
        <value />
      </setting>
    </Event_Management_System.Preferences>
  </userSettings>
</configuration>